@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility font-thin {
  font-weight: unset;
  font-variation-settings: 'wght' 100;
}

@utility font-extralight {
  font-weight: unset;
  font-variation-settings: 'wght' 200;
}

@utility font-light {
  font-weight: unset;
  font-variation-settings: 'wght' 300;
}

@utility font-normal {
  font-weight: unset;
  font-variation-settings: 'wght' 400;
}

@utility font-medium {
  font-weight: unset;
  font-variation-settings: 'wght' 500;
}

@utility font-semibold {
  font-weight: unset;
  font-variation-settings: 'wght' 600;
}

@utility font-bold {
  font-weight: unset;
  font-variation-settings: 'wght' 700;
}

@utility font-extrabold {
  font-weight: unset;
  font-variation-settings: 'wght' 800;
}

@utility font-black {
  font-weight: unset;
  font-variation-settings: 'wght' 900;
}

@layer utilities {
  * {
    -webkit-font-smoothing: antialiased;
  }

  /* This is needed as there is a bug in Safari which is causing our font weights to render weirdly. */
}